.body {
  font-family: "Roboto", sans-serif;
}
.last-image {
  height: 500px;
  width: 650px;
  padding-top: 80px;
}
.product-image img {
  background-color: #f1f1f1;
  border-radius: 5%;
}
.others {
  padding-top: 100px;
}
.button-edit {
  background-color: #a4bc46;
}
section {
  margin: 5% 0;
}
.button {
  text-decoration: none;
  font-size: 22px;
  padding: 15px 20px;
  background-color: #9eb73d;
  color: white;
  border-radius: 5px;
}
.fashion-footer {
  background-color: white;
  border-top: none;
}
.card-1 {
  padding: 10px 30px;
  border-radius: 10px;
}
.navbar-color {
  background-color: #fffbf0;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #a4bc46;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
header {
  margin: 0;
}
